# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan

# Terraform crash logs
crash.log
crash.*.log
# Local deployment artifacts
*.zip

# Local Azure OIDC configuration files
github-federated.json
github-pr-federated.json